* {
	background-image: none;
}

window {
	background-color: rgba(29, 32, 33, 0.90);
}

button {
    color: #f9f5d7;
	background-color: #32302f;
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
	background-color: #d79921;
	background-size: 20%;
}

button:hover#lock {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#logout {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#shutdown {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#reboot {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#hibernate {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#suspend {
	background-color: #b57614;
	background-size: 25%;
    margin: 30px 30px 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	border-top-left-radius: 50px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	border-bottom-left-radius: 50px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	border-top-right-radius: 50px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-bottom-right-radius: 50px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

