[Desktop Entry]
Name=Yuzu
Exec=/home/lichi/emulation/switch/run.sh
Type=Application
Icon=
Comment=
Path=/home/lichi/emulation/switch
Terminal=false
StartupNotify=false
