[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=feh -Z --scale-down --start-at %f
Name=Feh
Comment=Use feh to view images
