[Desktop Entry]
Name=MotoGP™20
Comment=Play this game on Steam
Exec=steam steam://rungameid/1161490
Icon=steam_icon_1161490
Terminal=false
Type=Application
Categories=Game;
