[Desktop Entry]
Name=Need for Speed™ Rivals
Comment=Play this game on Steam
Exec=steam steam://rungameid/1262600
Icon=steam_icon_1262600
Terminal=false
Type=Application
Categories=Game;
